.home-logo {
    max-width: 40vw;
    max-height: 250px;
}

html, body {
    margin: 0px; padding: 0px
}

body {
    min-height: 100vh;
}

.navbar-padding {
    padding-top: 0px;
}

@media screen and (min-width: 600px) and (min-height: 600px) {
    .navbar-padding {
        padding-top: 16px;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("/assets/images/Library_Hero_Logo.png");
    aspect-ratio: 3/1;
    width: 100%;
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.rhythm-station-background {
    background-color: #1f162d;
}

.hero-buttons {
    height: 100%;
}

.hero-buttons-row {
    height: 98%;
    align-items: flex-end;
}

.desktop {
    display: block;
    height: 100%;
}

.mobile {
    display: none;
}

@media only screen and (max-device-width: 1000px) {
    .mobile{display: block;}       
    .desktop {display: none;}
} 