.home-logo {
    max-height: 300px;
}

html, body {
    margin: 0px; padding: 0px
}

body {
    min-height: 100vh;
}

.navbar-padding {
    padding-top: 0px;
}

@media screen and (min-width: 600px) and (min-height: 600px) {
    .navbar-padding {
        padding-top: 16px;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("/assets/images/rhythm_station_lib_hero_website.png");
    height: 50vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.rhythm-station-background {
    background-color: #1f162d;
}

.hero-buttons {
    height: 100%;
}

.hero-buttons-row {
    height: 40%;
    align-items: flex-end;
}